@mixin track() {
	width: 100%; height: 100%;
	background: none /* get rid of Firefox track background */
}

@mixin thumb() {
	box-sizing: border-box; /* different between Chrome & Firefox */
	/* box-sizing needed now that we have a non-zero border */
	pointer-events: auto;
}

/* fix too small font-size in both Chrome & Firefox */
* { font: inherit }

.wrap {
	--r: 10px;
	--dif: calc(var(--max) - var(--min));
	display: grid;
	grid-gap: .625em;
	overflow: hidden;
	position: relative;
	margin: 0;
	padding: 0;

	&::before, &::after {
		grid-column: 1;
		grid-row: 2;

		content: '';
	}

	&::after {
		/* non-standard WebKit version */
		-webkit-mask: var(--fill);
		-webkit-mask-composite: xor;
		/* standard version, supported in Firefox */
						mask: var(--fill);
						mask-composite: exclude;
	}
}

input[type='range'] {
	&::-webkit-slider-runnable-track,
	&::-webkit-slider-thumb, & {
		-webkit-appearance: none
	}

	grid-column: 1;
	grid-row: 2;
	z-index: 1;
	top: 0; left: 0;
	margin: 0;
	background: none; /* get rid of white Chrome background */
	color: #eee;
	cursor: grab;
	pointer-events: none;

	&::-webkit-slider-runnable-track { @include track }
	&::-moz-range-track { @include track }

	&::-webkit-slider-thumb { @include thumb }
	&::-moz-range-thumb { @include thumb }

	&:focus {
		outline: solid 0 transparent;

		&, & + output {
			z-index: 2;
			color: darkorange
		}
	}

	&:active { cursor: grabbing	}
}

output {
	grid-column: 1;
	grid-row: 3;
	margin-left: var(--r);
	border-radius: 5px;
	padding: 0 .375em;
	width: max-content;
	//transform: translate(calc((var(--c) - var(--min))/var(--dif)*var(--uw) - 50%));
	background: currentcolor;
	color: transparent;
	font-weight: 900;

	&::after {
		color: #fff;
		counter-reset: c var(--c);
		content: counter(c)
	}
}